html, body{
    height: 100%; 
    width: 100%;
    padding: 0;
    margin: 0;
}
.header{
    width: 90%;
    height: 15%;
    background: olive;
    margin:0 5%;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
  }
  p {
    width: 90%;  
    color: slateblue;
  }
  .menu{
    width: 10%;
    height: 600px;
    position: fixed;
    background:navy;
    
  }
   
  a:link { 
    color: green; /* Цвет непосещенных ссылок */
   }
  a:visited { 
    color: gray; /* Цвет посещенных ссылок */
   }
   a:hover { 
    color: firebrick; /* Цвет ссылок при наведении на них курсора мыши */
   }
   a:active { 
    color:blueviolet; /* Цвет активных ссылок */
     }
  
  .center{
    margin: 187px;
    margin-top: 10px;
  
  }
  
  footer{
    width: 90%;
    height: 15%;
    background: pink;
    margin:0 5%;    
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    text-align: center;
  }