table{
margin: 0;
text-align: left;
border-collapse: separate;
border: 1px solid #ddd;
border-spacing: 10px;
border-radius: 3px;
background: #fdfdfd;
font-size: 14px;
width: 100%;
height: 196px;
}

td,th{
border: 1px solid #ddd;
padding: 5px;
border-radius: 3px;
}

th{
background: #E4E4E4;
}

caption{
font-style: italic;
text-align: right;
color: #547901;
}

.a1{
background-color: firebrick;
}

.a2{
background-color: pink;
}

.a3{
background-color: blueviolet;
}

.a4{
background-color: brown;
}